body {
  font-family: 'Comfortaa', cursive;
  background-color: #F0F0F0;
}
html {
  scroll-behavior: smooth;
}

.header{
  margin-top: 100px;
  margin-bottom: 100px;
}
.idpic{
  background-color: red;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 250px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  /* transition: 0.5s; 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenavC{
  position: fixed;
  margin-left: 100px;
  margin-top: 250px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#page-wrap {
  /* transition: margin-left .5s; */
  margin-left: 250px;
  padding: 0px;
}

.padding-0{
  margin-right:0;
  margin-left:0;
}

.padding-1{
  margin-right: 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.fas.fa-plus {
  /* transform: rotateZ(45deg); */
  justify-content: space-between;
}

.logo{
  font-size: 35px;
}

.zing{
  margin-top: 10px;
}

.projects {
    margin-top: 300px !important;
}
.research{
  margin-top: 300px !important;
}
.aboutMe{
  margin-top: 100px !important;
}
.pdf {
    margin-top: 300px !important;
}
.food {
    margin-top: 300px !important;
}
.contact {
    margin-top: 300px !important;
}
